<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="uk">
    <head></head>
    <body>
    <div xmlns:th="http://www.thymeleaf.org" lang="uk" layout:fragment="content" class="container">
<!--
            <p>
                <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"
                      th:remove="tag">
                </span>
            </p>
-->
        <div>
            <div class="container">
                <label th:text="${paypalPass}" />
            </div>
            <div class="container">
                <label th:text="${paypalUrl}" />
            </div>
        </div>
    </div>
    </body>
</html>